<h1>Import Vendors</h1>
<p> If file contains duplicates, result in error</p>
<a href = "/vendors/show"> Display vendors </a><br />

<h2> Import Vendors</h2>
 <%= form_tag import_vendors_path, multipart: true do %>
   <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
