<% provide(:title, @user.name)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <em><%= @user.name %></em>
      </h1>
    </section>
    <address><%= @user.email %></address>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="#">Visited Vendors</a></li>
      <li role="presentation"><a href="#">Favourite Vendors</a></li>
    </ul>
  </aside>
  <%= render 'shared/comments', object: @user%>
</div>
